{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'africa/styles.css' %}">
        <title>Africa</title>
    </head>
    <body>
        <nav>
            <h1>Africa</h1>
        </nav>

        <section id="texto-inicio">
            <p>
                A África é o terceiro continente mais extenso (depois da Ásia e da América) com cerca de 30 milhões de quilômetros quadrados, cobrindo 20,3% da área total da terra firme do planeta. É o segundo continente mais populoso da Terra (atrás da Ásia) com cerca de um bilhão de pessoas (estimativa para 2005[1]), representando cerca de um sétimo da população mundial, e 54 países independentes.
            </p>
        </section>

        <h2>Alguns paises da America</h1>
        
        <div>
            <a href="angola.html" class="box-country" id="box-angola">Angola</a>
            <a href="madagascar.html" class="box-country" id="box-madagascar">Madagascar</a>
        </div>    
    </body>
</html>