body{
    background-color: rgb(246, 246, 246);
    margin: 0;
    padding: 0;
}

nav{
    background-color: #17A589;
    margin: 0;
}

h1{
    text-align: center;
    font-size: 35pt;
    margin: 0;
}

img{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px
}

#texto-inicio{
    display: flex;
    background-color: rgb(227, 235, 242);
    width: 80%;
    height: 260px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

p{
    text-align: justify;
    font-size: 15pt;
    margin: 0 auto;
    width: 1000pt;

}

h2 {
    text-align: center;
    font-size: 25pt;
}

div{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    font-size: 18pt;
    text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white;
}

.box-country{
    margin: 1% 2.5%;
    padding: 85px 10%;
    border-radius: 20px;
    transition: 0.2s;
}

.box-country:hover{
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow: inset -1px 0px 31px 8px rgba(0,0,0,0.17);
    -moz-box-shadow: inset -1px 0px 31px 8px rgba(0,0,0,0.17);
    box-shadow: inset -1px 0px 31px 8px rgba(0,0,0,0.17);

}

#box-brasil{
    background-image: url(img/Rio_De_Janeiro_Jesus_statue_Brazil-architectural_landscape_wallpaper_1366x768.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#box-mexico{
    background: url(img/costa-do-caribe-mexico.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box-argentina{
    background: url(img/cidade-da-argentina.jpg);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}